﻿body {
}
.box{
    width:1150px;
    height:700px;
    margin: 0px auto;
	margin-top: 5px;
}

.label {
    font-size:20px;
    float: left;
    color:white;
    margin-left:270px;
    margin-top: 15px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.input{
    padding: 12px 20px;
    margin-top:15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 23px;
}

.p{
    margin-top: 50px;
    color: black;
    font-size: 40px;
    margin-left: 320px;
    margin-bottom: 50px;
    font-family: Broadway;
    font-weight:bold;
}

.img{
     height: 80%; 
     width:80%;
     margin-top: 40px; 
     margin-left: 135px;
     position: center;
}

.container{
	width: 960px;
	height: 650px;
	background-color: #000000;
	margin: 0px auto;
	margin-top: 30px;
	border-top: 150px;
	border-radius:5px;
	opacity: 0.7;
}
